.restaurantes{
    background-color: rgb(40, 150, 136);
}
h1{
    color: rgb(252, 234, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.center{
    text-align: center;
}

img{
    border-style: solid;
    border-width: 12px;
    border-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 9px;
}