.hoteles{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    text-align: center;
}
.treinta{
    width: 30%;
}

.imgright{
    float: right;
    height: 275px;
    margin-left: 0.3%;
    margin-right: 0.4%;
}
.imgleft{
    float: left;
    height: 275px;
    margin-right: 0.5%;
}

p{
    color: rgb(71, 94, 165);
    font-size: 16px;
}

.cien{
    width: 100%;
    margin: 0.1%;
}


h1{
    color: rgb(187, 83, 151);
    font-size: 48px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 18px;
}

h2{
    color: rgb(187, 83, 151);
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 10px;
}